<a href="{{host}}/{{keyword}}"><img style="float:right; border: 0" src="http://chart.apis.google.com/chart?cht=qr&chs=300x300&chl={{host}}/{{keyword}}"></a>

{{message|escape|linebreaks}}
{% if created %}
<form name="created" method="get" action="/r/">
<input  type="text" name="url" value="{{host}}/{{created}}"/> =&gt; <a target="_blank" href="{{url}}">{{url}}</a><br/>
</form>
{% endif %}


<form name="snippy" method="post" action="/admin/add/">
<input type="hidden" name="orig_keyword" value="{{keyword}}"/>
Keyword:<input type="text" id="keyword" name="keyword" value="{{keyword}}"/><br/>
{# TODO(ark): make this resizable with a drag handle #}
Url:<input type="url" name="url" size="{{url|length}}" value="{{url}}"/>
{% if orig_url %}
 (was {{orig_url|urlize}})
{% endif %}
<br/>
Alt Url:
<input type="url" name="alt_url" size="{{alt_url|length}}" value="{{alt_url}}"/>
<br/>
Mobile Url:
<input type="url" name="mobile_url" size="{{mobile_url|length}}" value="{{mobile_url}}"/>
<br/>
Suggest Url:
<input type="url" name="suggest_url" size="{{suggest_url|length}}" value="{{suggest_url}}"/>
<br/>

Private
<lablel><input type="radio" name="private" {{private_yes}} value="yes">Yes</label>
<lablel><input type="radio" name="private" {{private_no}} value="no">No</label>
<br/>
<input type="submit" name="submit" value="{{action}}">
<input type="submit" name="submit" value="delete" onclick="return confirm('are you sure?')">
</form>
